*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
.newfigma1{
    background-color:white;
    height: 95px;
    border-top: 0;
    border-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 80px;
    position: absolute;
    width: 1000px;
    height: 135px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    display: block;
    align-items: center;
}
.valutico1{
    height: 23px;
    width: 170px;
    top: 28px;
    border-radius: 0px;
    background-image: url(logo.png);
    position: relative;
    left: 25px;
}
.Home{
    color: #065666;
    width: 57px;
    height: 27px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    position: relative;
    left: 230px;
    top: 2px
}
.Solutions{
    width: 94px;
    height: 27px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #636363;
    position: relative;
    left: 320px;
    bottom: 24px;
}
.dropdown{
    height: 24px;
    width: 24px;
    position:relative;
    left: 96px;
    bottom: 24px;
    border-radius: 0px;
}
.YourWork{
    width: 100px;
    height: 27px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #636363;
    position: relative;
    left: 490px;
    bottom: 52px;
}
.Company{
    width: 94px;
    height: 27px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #636363;
    position: relative;
    left: 650px;
    bottom: 80px;
}
.RequestaDemo{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    left: 800px;
    bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 24px 20px;
    gap: 16px;
    width: 200px;
    height: 70px;
    background: #6FC247;
    border-radius: 16px;    
    flex: none;
    order: 2;
    flex-grow: 0;
}   
.WorldLeading{
    position: absolute;
    width: 971px;
    height: 174px;
    left: 40px;
    top: 199px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-align: center;
    color: #373737;
}
.Valuticoprovides{
    position: absolute;
    width: 900px;
    height: 129px;
    left: 40px;
    top: 405px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    text-align: center;
    color: #373737;
}
.RequestaDemoAgain{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    color: #FFFFFF;
    position: relative;
    top: 340px;
    left: 220px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 24px 40px;
    gap: 16px;
    width: 240px;
    height: 75px;
    background: #6FC247;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;
}   
.SignUp{
    align-items: flex-end;
    padding: 24px 40px;
    line-height: 27px;
    border-width: 100px; 
    gap: 16px;
    width: 220px;
    height: 75px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #6FC247;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #6FC247;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
    top: 266px;
    left: 500px;
    justify-content: center;
}
.Vector1{
    height: 24px;
    width: 24px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 210px;
    right: 0%;
    top: 14pt;
    bottom: 0%;
    background-image: url(Vector3.png);
}
.Vector2{
    height: 24px;
    width: 24px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    position:relative;
    left:10px;
    background-image: url(Vector3.png);
}
.valuticobox{
    position: absolute;
    width: 1000px;
    height: 484px;
    left: 25px;
    top: 705px;
}
.trustedby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 23px;
    gap: 20px;
    position: absolute;
    width: 1000px;
    height: 609px;
    left: 20px;
    top: 1200px;
    background: #FFFFFF;
}
.trustedbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 16px;
    width: 1000px;
    height: 120px; 
    left: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
   
}
.trustedtext{
    width: 1000px;
    height: 44px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    color: #373737;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.OurTeamtext{
    width: 1000px;
    height: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #373737;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.companylist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 1000px;
    height: 280px;
    flex: none;
    order: 1;
    flex-grow: 0;}
.row1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 1000px;
    height: 70px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#Allinial{
    width: 184px;
    height:auto;
    background: #F9F9F9;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#Oaklins{
    height: auto;
    width: 184px;
    left: 325px;
    top: 0px;
    border-radius: 0px;
    background: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#RusellBedford{
    width: 184px;
    height: auto;
    left: 650px;
    background: #F9F9F9;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#Crowe{
    width: 184px;
    height: 1auto;
    left: 975;
    background: #F9F9F9;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 900px;
    height: auto;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#BCRH{
    width: 184px;
    height: auto;
    background: #F9F9F9;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#praxity{
    width: 184px;
    height: auto;
    left: 325;
    background: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#bakertilly{
    width: 184px;
    height: auto;
    left: 650;
    background: #F9F9F9;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#StandardChartered{
    width: 184px;
    height: auto;
    left: 975px;
    background: #F9F9F9;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.row3{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 1000px;
    height: 117px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#pandea{
    width: 184px;
    height: 117px;
    background: #F9F9F9;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#globalM{
    width: 184px;
    height: 117px;
    left: 325;
    background: #F9F9F9;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#cdi{
    width: 184px;
    height: 100px;
    left: 650;
    background: #F9F9F9;
    flex: none;
    order: 2;
    flex-grow: 0;
}
#Rodl{
    width: 184px;
    height: 117px;
    left: 975;
    background: #F9F9F9;
    flex: none;
    order: 3;
    flex-grow: 0;
}
.whyvaluticoframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 72px 103px;
    gap: 10px;
    position: absolute;
    width: 950px;
    height: 456px;
    left: 0px;
    top: 610px;
    background: #111111;  
    
}
.whyvaluticobox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    width: 800px;
    height: 312px;
    top: 72px;
    left: 60px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.whyvaluticoheader{
    width: 800px;
}
.whyvalutico{
    width: 281px;
    height: 55px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.anawardwinning{
    width: 800px;
    height: 60px;
    top: 71px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #D7D7D7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.list{
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 900px;
    height: 117px;
    top: 195px;
    justify-self: space-between;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.securebox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 250px;
    height: 117px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.secure{
    width: 60px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.privatebydefault{
    width: 400px;
    height: 60px;
    top: 57px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    align-content: space-around;
    line-height: 30px;
    color: #D7D7D7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.reliablebox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    width: 230px;
    height: 117px;
    top: 455.5px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.reliable{
    width: 80px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.createdby{
    width: 400px;
    height: 60px;
    top: 57px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: #D7D7D7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.dedicatedbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100px;
    height: 101px; 
    flex: none;
    order: 2;
    flex-grow: 0;
}
.dedicated{
    width: 250px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 33px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.two47{
    width: 280px;
    height: 60px;
    top: 41px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 30px;
    color: #D7D7D7;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.valuticofooterframe{
    position: absolute;
    width: 1000px;
    height: 1189px;
    left: 0px;
    top: 1000px;
    background: #FFFFFF;
}
/* .Requestfooterframe{
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    gap: 16px;
    position: absolute;
    width: 278px;
    height: 75px;
    left: 616px;
    top: 1080px;
    background: #6FC247;
    border-radius: 16px;
} */
.requestaDemoFooter{
    width: 160px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 80px;
    color: #FFFFFF;
    position: absolute;
    top: 250px;
    left: 350px;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: center;   
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
    width: 270px;
    height: 75px;
    top: 1080px;
    background: #6FC247;
    border-radius: 16px;
}
.innerfooterframe{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 85px;
    position: absolute;
    width: 900px;
    height: 936px;
    left: 20px;
    top: 80px;
}
.footertextframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 0;
    gap: 47px;
    width: 300px;
    height: 920px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.accurateframe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 489px;
    height: 180px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.accurate{
    width: 489px;
    height: 44px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 44px;
    text-align:start;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.findthecompanydata{
    width: 489px;
    height: 120px;
    top: 60px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.insidefootertextframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 300px;
    height: 693px;
    top: 227;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.personaliseframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;
    width: 477px;
    height: 225px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.personalisebox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 413px;
    height: 161px;
    top: 32px;
    left: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.personalbox2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 413px;
    height: 161px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.personalise{
    width: 296px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.savehours{
    width: 413px;
    height: 120px;
    top: 41px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.valuationframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;
    width: 477px;
    height: 225px;
    top: 249px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.valuationbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 413px;
    height: 161px;
    top: 32px;
    left: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.valuation{
    width: 343px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.fromloss{
    width: 413px;
    height: 120px;
    top: 41px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.fastaccessframe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 10px;
    width: 477px;
    height: 195px;
    top: 498px;
    background: #FFFFFF;
    border-radius: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
}
.fastaccessbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 413px;
    height: 131px;
    top: 32px;
    left: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.fastaccessbox2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 413px;
    height: 131px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.fastaccessbox{
    width: 341px;
    height: 33px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #111111;
    flex: none;
    order: 0;
    flex-grow: 0; 
}
.accessthe{
    width: 413px;
    height: 90px;
    top: 41px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #111111;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.penwriting{
    width: 500px;
    height: 936px;
    position: absolute;
    left: 500px;
    bottom:10px;
    background: url(penwriting3.png);
    background-size:cover;
    flex: none;
    order: 1;
    flex-grow: 0;
}